<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles/layout.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppBook</title>
</head>

<body>
    <h1>Welcome To The Book App!</h1>
</body>
</html>